@charset "UTF-8";

#contact {
  width: 45%;
  float: right;
  display: inline-block;
}

#contact p {
  margin-top: 30px;
  font-size: 14px;
}

@media screen and (max-width:768px) {

  #contact {
    width: 100%;
    float: none;
    padding-bottom: 120px;
  }

}
