@charset "UTF-8";

header {
  background-color: #000;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header-wrap {
  width: 960px;
  margin: 0 auto;
}

#navToggle {
  display: none;
  position: absolute;
  right: 13px;
  top: 13px;
  width: 36px;
  height: 24px;
  cursor: pointer;
}

#navToggle div {
  position: relative;
}

#navToggle span {
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 4px #fff;
  border-radius: 2px;
  -webkit-transition: 0.7s ease-in-out;
  -moz-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

#navToggle span:nth-child(1) {top:0;}
#navToggle span:nth-child(2) {top:12px;}
#navToggle span:nth-child(3) {top:24px;}

.header-wrap {
  display: table;
  font-size: 0;
  line-height: 0;
}

header h1, nav {
  display: table-cell;
}

nav {
  text-align: right;
  vertical-align: middle;
}

header h1 a img {
  height: 60px;
}

header ul {
  font-size: 13px;
  line-height: 1;
}

header ul li {
  margin-left: 60px;
  display: inline-block;
}

header ul li a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

header ul li a:hover {
  color: #f00;
}


@media screen and (max-width: 768px) {

  .header-wrap {
    width: 94%;
  }

  header nav {
    position: absolute;
    right: 0;
    top: -200px;
    background: rgba(255,255,255,0);
    width: 100%;
    padding: 0 10px;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    text-align: left;
  }

  header ul {
    margin: 0;
  }

  header ul li {
    display: block;
    border-bottom: dotted 1px #333;
    margin: 0;
    line-height: 3;
  }

  header ul li a {
    display: block;
    color: #000;
  }

  header ul li:last-child {border-bottom: none;}

  #navToggle {
    display: block;
  }

  .openNav #navToggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(-405deg);
    -moz-transform: rotate(-405deg);
    transform: rotate(-405deg);
  }

  .openNav #navToggle span:nth-child(2) {
    border-bottom: solid 0px #fff;
    top: 12px;
  }

  .openNav #navToggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    transform: rotate(405deg);
  }

  .openNav nav {
    -moz-transform: translateY(260px);
    -webkit-transform: translateY(260px);
    transform: translateY(260px);
    background: rgba(255,255,255,0.7);
  }

}
